{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Welcome to To-Do List💕</h1>

        {# Only show form if user is logged in #}
    {% if session.user_id %}

    <article>

        <ul>
            {% for task in tasks %}

                <li>
                    <a href="/tasks/{{ tasks.id }}">
                    <span class="priority"> {{ task.priority }} </span>
                    {{ task.name }}
                    </a>
                </li>

            {% else %}

                <p>Nothing to-do</p>

            {% endfor %}
        </ul>

    </article>

        <article>

            <h3>Add a New Task</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Name of task"
                    required
                >

                <input
                    type="number"
                    name="priority"
                    min="1"
                    max="5"
                    placeholder="Priority"
                    required
                >

                <button>Add</button>

            </form>

        </article>

    {% endif %}

{% endblock %}


